.details {
    text-align: center;
    background-color: black;
padding: 30px;
  }
  
  .img {
    width: 370px;
    height: 500px;
    margin: 0 auto;
  }

  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.4;
    color: #fff;
    margin-top: 20px;
  }

  .text {
font-weight: 400;
font-size: 20px;
line-height: 1.4;
color: #fabf59;
  } 
  
  .linkback {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin: 30px auto;
    border-radius: 30px;
 }
