.main {
    background-color: black;
    padding-bottom: 70px;
}

.list {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на следующую строку */
    gap: 20px; /* Задает расстояние между элементами */
    justify-content: center; /* Центрирует элементы */
}

.name {
    font-weight: 500;
font-size: 26px;
line-height: 1.4;
color: #fff;
}

.title {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 80px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fabf59;
    padding-top: 100px;
    padding-bottom: 70px;
}

.text {
font-weight: 400;
font-size: 20px;
line-height: 1.4;
color: #fabf59;
}

.span {
font-weight: 500;
font-size: 20px;
line-height: 1.4;
color: #fff;
}

.tit {
font-weight: 500;
font-size: 26px;
line-height: 1.4;
color: #fff;
}

.item1 {
    background-image: url(../../images/image4.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}


.item2 {
    background-image: url(../../images/image5.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item3 {
    background-image: url(../../images/image6.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item4 {
    background-image: url(../../images/image7.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item5 {
    background-image: url(../../images/image8.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item6 {
    background-image: url(../../images/image9.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item7 {
    background-image: url(../../images/image10.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item8 {
    background-image: url(../../images/image11.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.div {
padding-left: 20px;
padding-top: 282px;
}

.div1 {
    padding-top: 15px;
padding-left: 20px;
display: flex;
gap: 20px;
align-items: center;
}

.main {
    background-color: black;
    padding-bottom: 70px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {
    border-radius: 20px;
    width: 295px;
    height: 452px;
    cursor: pointer;
    transition: border 0.3s ease; 
}

.selected {
    border: 3px solid gold; 
}

