.main {
    background-color: black;
    padding-bottom: 70px;
}

.list {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на следующую строку */
    gap: 20px; /* Задает расстояние между элементами */
    justify-content: center; /* Центрирует элементы */
}

.name {
    font-weight: 500;
font-size: 26px;
line-height: 1.4;
color: #fff;
}

.title {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 80px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fabf59;
    padding-top: 100px;
    padding-bottom: 70px;
}

.text {
font-weight: 400;
font-size: 20px;
line-height: 1.4;
color: #fabf59;
}

.span {
font-weight: 500;
font-size: 20px;
line-height: 1.4;
color: #fff;
}

.tit {
font-weight: 500;
font-size: 26px;
line-height: 1.4;
color: #fff;
}

.item1 {
    background-image: url(../../images/image4.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}


.item2 {
    background-image: url(../../images/image5.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item3 {
    background-image: url(../../images/image6.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item4 {
    background-image: url(../../images/image111.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item5 {
    background-image: url(../../images/image13.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item6 {
    background-image: url(../../images/image10.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item7 {
    background-image: url(../../images/image19.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.item8 {
    background-image: url(../../images/image20.png);
    border-radius: 20px;
    width: 295px;
    height: 452px;
}

.div {
padding-left: 20px;
padding-top: 282px;
}

.div1 {
    padding-top: 15px;
padding-left: 20px;
display: flex;
gap: 20px;
align-items: center;
}

.main {
    background-color: black;
    padding-bottom: 70px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {
    border-radius: 20px;
    width: 295px;
    height: 452px;
    cursor: pointer;
    transition: border 0.3s ease; 
}

.selected {
    border: 3px solid gold; 
}

.com {
border: 1px solid #d9d9d9;
border-radius: 100px;
width: 1240px;
height: 59px;
margin-left: 10px;
margin-bottom: 50px;
display: flex;
align-items: center;
justify-content: center;
gap: 140px;
}

.comtex {
    font-family: "Poppins";
font-weight: 700;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.01em;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.comimg {
width: 35px;
height: 38px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comdiv {
    width: 300px; 
    height: 59px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; 
    overflow: hidden; 
}

.comdiv:hover {
    border-radius: 100px;
    width: 300px;
    height: 59px;
    background: #f9b50c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
} 