.list {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    background-color: rgb(25, 25, 25);
    padding-bottom: 100px;
    padding-top: 20px;
}

.img {
    display: block;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}

.link {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: #f9b50c;
    border: 1px solid #f9b50c;
    border-radius: 100px;
    padding: 18px 36px;
    width: 320px;
    height: 59px;
}